@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gsans';
  src: url('/fonts/GmarketSansTTFMedium.ttf') format("truetype");
}

@font-face {
  font-family: 'Gsanslight';
  src: url('/fonts/GmarketSansTTFLight.ttf') format("truetype");
}

@font-face {
  font-family: 'PretendardMedium';
  src: url('/fonts/Pretendard-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'PretendardLight';
  src: url('/fonts/Pretendard-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'GsansBold';
  src: url('/fonts/GmarketSansTTFBold.ttf') format("truetype");
}

@font-face {
  font-family: '맑은글꼴';
  src: url('/fonts/MALGUN.ttf') format("truetype");
}

@font-face {
  font-family: 'HY견고딕';
  src: url('/fonts/H2GTRE.ttf') format("truetype");
}
@font-face {
  font-family: 'HY견명조';
  src: url('/fonts/H2MJRE.ttf') format("truetype");
}

.active button {
  background-color: #005CA6;
  color: white;
}